:root {
  /* colors */
  --primary-color: #dfdfe2;
  --secondary-color: #ffffff;
  --app-background-color: #4d4d62;
  --background-color: #1b1b32;
  --foreground-color: #3b3b4f;
  /* --highlight-color: #f1be32; */

  --highlight-color: #E72D8E;

  --cor1: #E72D8E;
  --details-color: #00bfbf;

  /* font sizes */
  --root-font-size: 16px;
  font-size: var(--root-font-size);

  /* font-families */
  --font-headline: "Roboto Mono", monospace;
  --font-family: "Lato", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--app-background-color);
  color: var(--primary-color);
  font-family: var(--font-family);
  height: 100vh;
  overflow-y: scroll;
}

h1 {
  font-size: 1.125rem;
  line-height: 1.6;
}

h2 {
  font-size: var(--root-font-size);
}

ul {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 5px;
  height: 100%;
  width: 100%;

  background-color: var(--app-background-color);
}

.player,
.playlist {
  background-color: var(--background-color);
  padding: 0 1.5rem;
  width: 100%;
}

.container .player {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 3.5rem) !important;
  flex-grow: 1;

  /* border: 1px solid red; */
}

.player-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
}

.player-bar,
.playlist-bar,
.player-content,
#playlist-songs {
  width: 100%;
}

.parallel-lines {
  display: flex;
  flex-wrap: wrap;
  row-gap: 6px;
}

.parallel-lines>div {
  height: 2px;
  width: 100%;
  min-width: 75px;
  background-color: var(--highlight-color);
}

.fcc-title,
.playlist-title {
  color: var(--secondary-color);
  margin: 0 10px;
  font-family: var(--font-headline);
}

.player-content {
  display: block;
}

#player-album-art {
  height: 100%;

  display: flex;
  align-content: center;
  justify-content: center;
  flex-grow: 1;

  /* background-color: #aaa; */
  /* border: 1px solid red; */
}

#player-album-art img {
  display: block;
  border-radius: 15px;
  max-height: 280px;
  margin: auto;
}

.player-display {
  display: block;
  background-color: var(--background-color);
  width: 100%;
  margin-top: auto;
}

.player-display-song-artist {
  /* height: 80px; */
  color: white;
  padding-bottom: .8rem;
}

#song-progress-bar input {
  width: 100%;
  height: 5px;
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
}

/* Estilo da trilha */
#song-progress-bar input::-webkit-slider-runnable-track,
#song-progress-bar input::-moz-range-progress {
  height: 100%;

  background-color: var(--highlight-color);
  border-radius: 5px;
}

/* Estilo da "thumb" = "bolinha deslizante" */
#song-progress-bar input::-webkit-slider-thumb,
#song-progress-bar input::-moz-range-thumb {
  background-color: var(--highlight-color);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  cursor: pointer;
}

#song-progress-bar .time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.player-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-self: center;
  width: 300px;
  height: fit-content;
  margin: 0 auto;
}

button {
  background: transparent;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  font-size: var(--root-font-size);
  outline-color: var(--highlight-color);
  text-align: center;
  height: fit-content;
  padding: 0;
  margin: auto;
}

.player-buttons button {
  color: #dfdfe2c2;
  cursor: pointer;
  outline-color: var(--highlight-color);
  text-align: center;
  height: fit-content;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0;
  margin: auto;
}

.player-buttons button i {
  border: none;
  color: #dfdfe2c2;
  cursor: pointer;
  font-size: var(--root-font-size);
  /* outline-color: var(--highlight-color); */
  text-align: center;
  padding: .5rem;
  height: 100%;
  /* width: 100%; */
  align-self: center;
  justify-self: center;
}

.player-buttons button.no-repeat {
  color: var(--primary-color);
}

.player-buttons button:hover,
.player-buttons button:active {
  color: var(--primary-color);
  border-radius: 50%;
  background-color: var(--highlight-color);
  margin: auto;
}

.player-buttons button#play i,
.player-buttons button#pause i {
  color: var(--secondary-color);
  font-size: 2rem;
  padding: .5rem;
  /* margin-left: .5rem;
  margin-right: .5rem; */
  /* margin: auto .5rem; */
}

.player-buttons button.repeat-all i {
  color: var(--details-color);
}

.player-buttons button.repeat-one i {
  color: var(--details-color);
}

.playlist-song {
  border-radius: 5px;
}

.playlist li:not(:last-child) {
  border-bottom: 1px solid var(--background-color);
}

/* .player-buttons button:focus, */
.player-buttons button:hover {
  /* outline: 2px solid red; */
  /* border-radius: 50%; */
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.3);
}

.player-buttons #play:hover i,
.player-buttons #pause:hover i  {
  font-size: 2.6rem;
  border-radius: 50%;
  padding: 0;
  /* margin: 0; */
}

.player-buttons #play:hover,
.player-buttons #pause:hover  {
  padding: 0;
  /* margin: 0; */
  background-color: transparent;
}

.playlist-song:focus,
.playlist-song:hover {
  color: var(--highlight-color);
  background-color: var(--foreground-color);
  border-radius: 5px;
}

/* Playlist */
.playlist {
  max-height: fit-content;
  display: block;
  align-items: center;

  overflow: hidden;
}

.playlist .playlist-bar button {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 0;
}

.playlist .playlist-bar .playlist-title {
  padding: 0;
  margin: 0;
}

.playlist .playlist-bar i {
  font-size: large;
}

#playlist-songs {
  visibility: hidden;
  overflow: hidden;
  height: 0;
  padding: 0;
  margin: 0;
}

#playlist-songs.show {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  /* padding: 8px 9px; */
  visibility: visible;
  justify-content: start;
  list-style: none;

  /* height: auto;
  padding: 5px 6px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: var(--background-color) var(--secondary-color);
  scrollbar-width: thin; */
}

.playlist-song {
  display: flex;
  height: 55px;
  justify-content: space-between;
  align-items: center;
  padding: 5px;

  text-align: start;
}

[aria-current="true"] {
  background-color: var(--foreground-color);
}

[aria-current="true"] .playlist-song-title {
  color: var(--highlight-color);
}

.playlist-song-info {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  column-gap: 7px;
  padding: 5px 0;
  font-family: var(--font-family);
}

#player-song-title,
#player-song-artist {
  height: min-content;
  display: block;
  margin: 0;
}

#player-song-artist {
  color: var(--highlight-color);
  font-size: 0.75rem;
}

#player-song-title {
  font-size: 1.125rem;
}

.playlist-song-title {
  font-size: 0.85rem;
  width: 241px;
  text-align: left;
}

.playlist-song-artist {
  font-size: 0.725rem;
  width: 80px;
}

.playlist-song-duration {
  font-size: 0.725rem;
  margin: auto;
  font-family: var(--font-headline);
  width: 30px;
}

.playlist-song-delete {
  padding: 0;
  width: 20px;
  height: 20px;
}

.playlist-song-delete,
.playlist-song-delete {
  fill: var(--foreground-color);
}

.playlist-song-delete:hover circle,
.playlist-song-delete:focus circle {
  fill: #ff0000;
}



/* display buttons */
.d-none {
  display: none;
}

.d-block {
  display: block;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 8px; /* largura do scrollbar */
}

/* track (a barrinha / trilho)*/
::-webkit-scrollbar-track {  
  background: var(--background-color);
}

/* thumb (a "bolinha" que voce arrasta) */
::-webkit-scrollbar-thumb {
  background: var(--foreground-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--app-background-color);
}

/* MODAL */
/* .modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} */



@media (min-width: 960px) {

  .container {
    height: 100%;
    gap: 5px;
    overflow: hidden;
  }

  .playlist {
    min-width: 100px;
    max-width: 500px;
    flex: 1;
  }

  .container .player {
    min-width: 400px;
    height: 100% !important;
    flex: 1;
  }

  .player-display {
    /* margin-bottom: 1rem; */
  }

  #player-album-art img {
    display: block;
    border-radius: 15px;
    /* width: 50%; */
    max-height: 350px;
    margin: auto;
  }

  #playlist-songs {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 8px 9px;
    visibility: visible;
    justify-content: start;
    list-style: none;

    overflow-y: scroll;
    overflow-x: hidden;
    /* height: auto;
    padding: 5px 6px;
    scrollbar-color: var(--background-color) var(--secondary-color);
    scrollbar-width: thin;
    scroll-behavior: smooth; */
  }
}